@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Obrazec";
  src: url("/fonts/Obrazec2.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf");
  font-weight: 600;
}